.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 70vh;
  color: #ffffff;
  padding: 2rem;
  max-width: 1200px;
  border-radius: 8px;
}

.hero-image {
  /*prevent shrink*/
  flex: 0 0 auto;
}

.profile-image {
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 00.1%);
}

.hero-text {
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.hero-text p {
  font-size: 1.2rem;
  color: #cccccc;
  margin-bottom: 0.5rem;
}



/**************************
RESPONSIVE DESIGN ELEMENTS
*************************/
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2rem;
  }
}
